* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
.question {
  font-weight: 600;
}
.comments-alt {
  width: 16px;
}
.feedback--0 {
  border: 1px solid black;
  border-radius: 20px;
  transform: translate(-50%, 20%);
  padding: 5px;
  float: right;
  font-size: 16px;
  text-align: center;
  word-spacing: 5px;
}
.feedback--0 img {
  width: 16px;
  transform: translate(30%, 20%);
}
.btn img {
  width: 30px;
  height: 40px;
  padding: 2px;
}
/* settings for smaller mac screens */
.bug,
.idea,
.other {
  width: 24px;
  margin-left: 40px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.9);
  text-align: center;
  justify-content: center;
  display: inline-block;

  transform: translate(-70%, 50%);
}
.menu--bug {
  width: 16px;
  height: 16px;
}
.bulb {
  width: 16px;
  height: 16px;
}
.menu--idea {
  width: 12px;
}
.previous--bug,
.previous--idea,
.previous--other {
  position: relative;
  color: black;
  border: none;
  border-radius: 50%;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  top: 1.5rem;
  left: 2.5rem;
  transform: translate(-680%, -100%);
  width: 30px;
  font-size: 24px;
  z-index: 1;
}

/* Bug Configurations */
.bugfield {
  position: relative;
  z-index: -1;
  background-color: #fefefe;
  padding: 20px 10px;
  border: 1px solid #888;
  width: 383px;
  /* height: 152px; */
  height: 202px;
  transform: translate(-30%, -114%);
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
}
.report-issue {
  font-weight: 600;
  transform: translate(-1%, -280%);
}
.severity {
  font-weight: 600;
  transform: translate(-27%, -270%);
}
#bugs-severity {
  transform: translate(-40%, -350%);
}
.assigned {
  font-weight: 600;
  transform: translate(-24%, -310%);
}
.assigned-input {
  transform: translate(60%, -420%);
}
.send-feedback {
  transform: translate(-73.5%, -180%);
  border-radius: 15px;
  padding: 5px;
  border: 1px solid black;
  color: #fff;
  background-color: #39a5fe;
}
.bug-text {
  transform: translate(-0%, -70%);
}
/* ------------------------- */
/* Share idea configuration  */
/* ------------------------- */

#ideafield {
  position: relative;
  z-index: -1;
  background-color: #fefefe;
  padding: 20px 10px;
  /* border: 1px solid #888; */
  width: 383px;
  /* height: 152px; */
  height: 150px;
  transform: translate(-47.8%, -136%);
  border-radius: 0px 0px 15px 15px;
}

.share-idea {
  font-weight: 600;
  transform: translate(-1%, -300%);
}
.share-idea-input {
  transform: translate(20%, -63%);
}
.send-idea {
  transform: translate(-125%, -70%);
  border-radius: 15px;
  padding: 5px;
  border: 1px solid black;
  color: #fff;
  background-color: #39a5fe;
}
/* ------------------------- */
/* Other configuration  */
/* ------------------------- */

#otherfield {
  position: relative;
  z-index: -1;
  background-color: #fefefe;
  padding: 20px 10px;
  /* border: 1px solid #888; */
  width: 383px;
  /* height: 152px; */
  height: 150px;
  transform: translate(-65.7%, -136%);
  border-radius: 0px 0px 15px 15px;
}
.send-other {
  transform: translate(-125%, -70%);
  border-radius: 15px;
  padding: 5px;
  border: 1px solid black;
  color: #fff;
  background-color: #39a5fe;
}
.tell-me {
  font-weight: 600;
  transform: translate(-0%, -280%);
}

.tell-text {
  transform: translate(20%, -60%);
}

/* ---------------- */
/* Feedback Modal */
/* ---------------- */

#send-feedback-modal {
  position: relative;
  z-index: 1;
  background-color: #fefefe;
  padding: 20px 10px;
  /* border: 1px solid #888; */
  width: 383px;
  /* height: 152px; */
  height: 150px;
  transform: translate(-2.8%, -66%);
  border-radius: 0px 0px 15px 15px;
}
.feedback-text {
  font-weight: 600;
}

/* ---------------- */
/* Send Buttons */
/* ---------------- */

.send-another {
  border-radius: 15px;
  padding: 5px;
  border: 1px solid black;
  color: #fff;
  background-color: #39a5fe;
  transform: translate(-5%, 70%);
}

/* settings for smaller macscreen */
.bugBtn,
.ideaBtn,
.otherBtn {
  position: relative;
  z-index: 1;
  width: 50px;
  margin-left: -35px;
  border-radius: 10px;
  border: 1px solid black;
  transform: translate(30%, -30%);
}

/* After effects of button click */

/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
} */

.modal-content {
  background-color: #fefefe;
  padding: 20px 10px;
  /* border: 1px solid #888; */
  width: 383px;
  height: 150px;
  z-index: 11;
  border-radius: 0px 0px 15px 15px;
  transform: translate(-0.1%, 0%);
}

/* ---------------- */
/* Reusable Components */
/* ---------------- */

textarea {
  width: 250px;
  height: 70px;
  padding: 1px 1px 1px 8px;
  border: solid 2px darkblue;
}
.close {
  position: absolute;
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border: none;
  background: none;
  top: -0.3rem;
  right: 1.3rem;
  transform: translate(-0%, -60%);
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* ----------------
previous project 
---------------- */

/* draggable window */

#draggable {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  /* width: 20%; */
  width: 383px;
  border-radius: 15px;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
}

#draggableheader {
  /* padding: 1px; */
  cursor: move;
  z-index: 10;
  background-color: #39a5fe;
  color: #fff;
  width: 383px;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}
